{% extends 'WebApp/index.html' %}

{% block navbar %}
    {% include 'WebApp/navbar.html' %}
{% endblock %}
{% block content %}
<table width="904" height="668" border="0" cellpadding="5" cellspacing="5">
  <tr>
    <td> 
    </td>
    <td>
    </td>
    <td> <div align="center">
        <a href="register.html" style="color:black;">Register</a>
        <a href="login.html" style="color:black;">Login</a>
    </td>
  
  </tr>
  <tr>
    <td height="45" colspan="3" align="center">copyright</td>
  </tr>
</table>
{% endblock %}