{% extends 'WebApp/home.html' %}

{% load staticfiles %}

{% block stylesheet %}

{% endblock %}


{% block content %}

{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Project</title>
</head>
<body>
<table width="904" height="668" border="0" cellpadding="5" cellspacing="5">
  <tr>
    <th height="177" colspan="3" scope="col"><div align="left"><img src="picture" width="883" height="165" /></div></th>
  </tr>
  <tr>
    <td width="196" height="47" bgcolor="#CCFFFF"><div align="center"><a href="index.html">Home</a></div></td>
    <td width="297" bgcolor="#0099FF"><div align="center"><a href="blog.html">Blog</a></div></td>
    <td width="361" bgcolor="#9933FF"><div align="center"><a href="user.html">User</a></div></td>
  </tr>
  <tr>
    <td> 
    </td>
    <td>
    </td>
    <td> <div align="center">
        <a href="register.html">Register</a>
        <a href="login.html">Login</a>
    </td>
    
  </tr>
  <tr>
    <td height="45" colspan="3" align="center">copyright</td>
  </tr>
</table>
</body>
</html>
