{% extends 'WebApp/index.html' %}

{% block stylesheet %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/home.css' %}?{% now 'U' %}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block navbar %}
    {% include 'WebApp/navbar.html' %}
{% endblock %}
{% block content %}
<table width="100%" height="668" border="0" cellpadding="5" cellspacing="5">
  <tr>
    <td> 
    </td>
    <td>
    </td>
    <td valign="top"> <div align="left">
        <!--<a href="register.html" style="color:black;">Register</a>
        <a href="login.html" style="color:black;">Login</a>-->
        {% for obj in objects_list %}
          <h1>
            <a class="questionTitle" href="{% url 'forum:forum_post' slug=obj.slug %}">{{ obj.title }}</a>
          </h1>
          <p class="dateCreated">{{obj.created}}</p>
        {% endfor %}
        <h1></h1>
    </td>
  
  </tr>
  <tr>
    <td height="45" colspan="3" align="center">copyright</td>
  </tr>
</table>
{% endblock %}