{% extends 'WebApp/base.html' %}

{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/index.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
        <div class="home-feature-background">
            <nav class="primary">
                <div class="">
                <li class="items"><a href='#'>Home</a></li>
                <li class="items"><a href='#'>Blog</a></li>
                <li class="items"><a href='#'>Login</a></li>
                <li class="items"><a href ='#'>Sign up</a></li>
            <nav class="">
                <div>
                    <div class="Logo">Logo</div>
                    <div class="Top info">Top info</div>
                    <div class="navbar">Navbar</div>
                    <div class="">
                        <li><a href="URL">LINK</a></li>
                    </div>
        <div class="contentArea">Content area</div>
        <div class="banner">OPEN FORUM</div>
        <div class="left_column">Questions</div>
        <div class="right_column">Answers</div>
        </div>
        <div class="footer">Footer</div>
        <div class=""></div>
        <div class="">
        
{% endblock %}

{% block scripts %}

{% endblock %}