<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <!-- now "U" updates css versions for caching based on Unix Epoch-->
    <link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/layout.css' %}?{% now "U" %}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="navbar" id="nav">
        <nav class="primary clearfix">
            <div class="menu icon"></div>
            <div class="right-align">
                <a href="" class="items"></a>
                <a href="" class="items"></a>
                <a href="" class="items"></a>
                <a href="" class="items"></a>
                <a href="" class="items"></a>
            </div>
        </nav>
    </header>
    <!-- jQuery CDN Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Insert Javascript files below -->
    <script type="text/javascript" src="{% static 'WebApp/js/default.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>