<header class="navbar" id="nav">
    <nav class="primary clearfix">
        <div class="nav-icon">
            <div class="menu icon"></div>
        </div>
        <div class="right-align">
            <a href="{% url 'home' %}" class="items">Home</a>
            <a href="{% url 'forum:forum-index' %}" class="items">Ask Question</a>
            {% if user.is_authenticated %}
                <a href="#" class="items">User</a>
                <a href="{% url 'logout' %}" class="items">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="items">Login</a>
                <a href="{% url 'signup' %}"  class="items">Register</a>
            {% endif %}
        </div>
    </nav>
</header>