{% extends 'WebApp/index.html' %}

{% block stylesheet %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/post-forum.css' %}?{% now 'U'}">
{% endblock %}

{% block navbar %}
    {% include 'WebApp/navbar.html' %}
{% endblock %}

{% block content %}
<div class="block_container">
    <tr>
    <td width="442">
      <table width="100%" height="100" valign="middle">
        <tr>
          <td width="100%" height="50"><h1>{{ post.title }}</h1></td>
        </tr>
        <tr>
          <td width="100%" height="50"><p class="content-markdown">{{ post.post_field }}</p></td>
        </tr>
</div>
{% endblock %}

